$color-primary: #040d21;
$color-secondary: #64acff;
$color-highlight: #64acff4d;
$color-white: #fff;
$color-grey: #808080;
$color-light-grey: #d3d3d3;
$color-black: #000;

$mobile-breakpoint: 768px;

